# first we have the core requirements
# i.e. libraries used for running 
# code in the notebooks per se
#
ipykernel
ipywidgets
nbautoeval

# jupyter extensions
#
#rise
#jupyter-contrib-nbextensions

# this part is for readthedocs
#
Sphinx>=3.2
# 1.6 is now out
jupytext
# work around a nasty error that said
# AssertionError: wrong color format 'var(--jp-mirror-editor-variable-color)'
pygments>=2.4.1
ipypublish[sphinx]
sphinx-rtd-theme
jupyter_client
calysto_bash
